@tailwind base;
html {
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
section {
  @apply py-16 px-6 mx-auto text-center;
}
h1,
h2,
h3 {
  @apply font-heading leading-tight;
}
h2,
h1 {
  @apply text-250 mb-10;
}
h3 {
  @apply text-175;
}
p {
  @apply leading-relaxed text-base;
}
nav a {
  @apply inline-block;
}

@tailwind components;
a.btn {
  @apply inline-block mt-3 px-8 py-4 capitalize bg-orange text-white rounded-sm;
}
.btn-white {
  @apply inline-block mt-3 px-8 py-4 capitalize bg-white text-orange rounded-sm;
}
.card-item:last-child {
  @apply border-b-0 mb-0;
}
.modal p {
  @apply mt-6;
}
.logos:last-child {
  @apply hidden;
}
a.close {
  @apply cursor-pointer;
}

@media (min-width: 768px) {
  h2 {
    @apply text-5xl;
  }
  .logos:last-child {
    @apply inline-block;
  }
}
@media (min-width: 1280px) {
  section {
    @apply px-20;
  }
}
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
